.product_image{
position:relative;
height:400px;
width:400px;
top:70px
}
.proimage{
max-height:350px;
max-width:350px;
}
.summary{
position:relative;
top:200px;
}
.pricediv{
position:absolute;
left:10px;
width:300px;
}
.price{
position:relative;
top:200px;
}
.bestincategory{
position:relative;
top:200px;
left:10px;
}
