{% extends "base.html" %}
{%block title%}About - Senti e-commerce{% endblock %}
{%block head%}
	{{super()}}
{%endblock%}
{%block body%}
	<h1>ABOUT</h1>
	<div>
			<ul>
					<li><h3>Why Sentikart?</h3>
					<ul>
							<li>
									<p>In our opinion, nothing beats experience. From all the people who have brought a certain product from
									the world of e-commerce, they know if they enjoyed the product or have repented buying it. If the
									service of the commodity was good, or if it was annoying. Believe or not, every end user and even the
									massive e-commerce community understands the importance of the experience people have had after buying a certain
									product.</p>
							</li>
							<li>
									<p>This is where we hop in. One gets the best statistics of a product. And the most powerful statistics .i.e. user
									experiences.</p>
									<p>We take the user experiences, their reviews from websites such as FlipKart and then do the sentimental analysis
									of those to provide certainly the best statistics to both users and e-commerce websites. One can easily come and learn
									from these statistics as to whether the product would stand in their shopping list.</p>
						</ul>
						<li><h3>What is Sentimental Analysis?</h3></li>
						<ul><li>	<p>A sentiment is 'a view or opinion that is held or expressed'.This is what SentiKart aims at preserving. Sentimental
								analysis of user reviews provides the best way of expressing a product's truthness.</p></li></ul>
						<li><h3>Future of SentiKart</h3></li>
						<ul><li><p>In the future, this idea of preserving user experience can make the future consumer's life much easier. So, expanding this
									idea is a must</p></li></ul>
						<li><h3>About Us</h3></li>
						<ul><li>	<p><strong>HELLO!</strong> We are two students of National Institute of Technology, Hamirpur. This is a great place to learn
									and enjoy.</p>
									<p><h6>Utkarsh Raj and Suyash Garg</h6></p></li><ul>
						</ul>
		</div>
{%endblock%}

