%extends 'base.html'%}
{%block head%}
{{super()}}
{%endblock%}
{%block body%}
{{super()}}
<section class="slider">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<img src="images/w.jpg" alt="" class="img-responsive">
									<h4>Neque porro quisquam</h4>
									<h5>CEO & Director</h5>
								</li>
								<li>	
									<img src="images/w1.jpg" alt="" class="img-responsive">
									<h4>Neque porro quisquam</h4>
									<h5>CEO & Director</h5>
								</li>
								<li>
									<img src="images/w2.jpg" alt="" class="img-responsive">
									<h4>Neque porro quisquam</h4>
									<h5>CEO & Director</h5>
								</li>	
								<div class="clearfix"> </div>
							</ul>
						</div>
			</section>
{%endblock%}