{% extends 'base.html'%}
{%block title%}Question and Answer{% endblock %}

{% block head %}

{{super()}}

 <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>

{% endblock %}

{% block body %}
<div style="position: relative;top: 30px;">
<div class="row">
<div class="col-md-3">
<div class="ui secondary vertical pointing menu">
<h3 class="text-center">SentiKart Q and A</h3>
<a class="item" href="/qanda">
            Q and A
          </a>
          <div class="ui vertical menu">
            <a class="active teal item" href="/newquestion">
              Have a Question?
            </a>
            <a class="active teal item" href="/answer_question">
              Answer a Question
            </a>
          </div>
        </div>
</div>
<div class="col-md-8">
{%block div%}
{% endblock %}
</div>
</div>
</div>
{%endblock%}
