{% extends 'base.html'%}
{%block title%}User Profile{% endblock %}

{% block head %}

{{super()}}

 <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>

{% endblock %}

{% block body %}
<div style="position: relative;top: 30px;">
<div class="row">
<div class="col-md-3">
<div class="ui secondary vertical pointing menu">
<h3 class="text-center">User Profile</h3>
<a class="item" href="/profile">
            Profile
          </a>
<a class="item" href="#">
            Settings
          </a>
  </div>
</div>
<div >
{%block div%}
{% endblock %}
</div>
<div>
<div style="max-width: 50px;max-height: 20px;position: absolute;top: 100px;left: 660px">
<h3 class="text-center"><i>Stevie</i></h3>
<img src="{{url_for('static', filename='images/stevie.jpg')}}" style="max-width: 100px;max-height: 200px;" class="ui circular">
<h4 class="text-center">Karma Points:90</h4></div>
{% endblock %}
</div>
</div>
